*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: mistyrose;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}
.modal-box{
    background-color: #fff;
    width: 50%;
    height: fit-content;
    min-height: 20vh;
    border-radius: 16px;
    padding: 2rem;
}
h2{
    text-align: center;
    margin-bottom: 16px;
}
.content{
    padding-inline: 16px;
}
.content h4{
    padding-block: 16px;
    font-size: 20px;
    border-bottom: 2px solid grey;
    cursor: pointer;
    margin-bottom: 8px;
}
.content h4::after{
    content: '+';
    float: right;
    transition: .5s;
}
.ans{
    height: 0;
    overflow: hidden;
    transition: .5s;
}

/* Javascript styling */
.content.active .ans{
    /* height: fit-content; Doesn't get animated */ 
    height: 80px;
    min-height: min-content;
}
.content.active h4::after{
    content: '-';
    font-size: 30px;
}